body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: #f0efef;
  margin: auto;
}

header a {
	position: relative;
	left: 60%;
}


header img {
color: white;
}

a {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
}

button {
	background-color: #00FFFF;
	color: white;
	width: 80px;
	font-weight: 100px;
	font-size: 14px;
}

#topright nav a {
	color: white;
	padding: 10px;
}

#firstpage {
	background-image: url(../images/dog_and_robot.png);
	border: solid black 4px;
	height: 450px;
}

#firstpage img{
	padding: 40px;

}

#robot-info{
	background-color: white;
	height: 1990px;
}

#image-container{
	opacity: .3;
}

#about {
	float: right;
}

#segwaySizebg {
	text-align: center;
	color: white;
}

#segwaySize {
	background-color: #484848;
	margin-bottom: -2550px;

	
}

#segwaySizept1 {
	margin: 500px;
	position: relative;
	bottom: 450px;
	right: 475px;

}


#segwaySizept2 {
	margin: 500px;
	position: relative;
	bottom: 1031px;
	right: 150px;
		
}

#segwaySizept3{
	margin: 500px;
	position: relative;
	bottom: 1612px;
	left: 120px;


} 

#segwaySizept4{
	margin: 500px;
	position: relative;
	bottom: 2194px;
	left: 440px;
	
} 

#segwaySizept1 h1{
	color: white;

}
#segwaySizept2 h1{
	color: white;

}

#segwaySizept3 h1{
	color: white;

}

#segwaySizept4 h1{
	color: white;

}

#segwaySizept1 p{
	color: #00FFFF;

}
#segwaySizept2 p{
	color: #00FFFF;

}

#segwaySizept3 p{
	color: #00FFFF;

}

#segwaySizept4 p{
	color: #00FFFF;

}

#extendable{
	background-color: white;
	margin-height: 50px;
	border: solid 2px black;
}

#image-container2 {
	margin-bottom: -20px;
}

#image-container2 img{
	height: 281px;

}

#joint{
	background-color: black;
	color: white;
	margin-bottom: -90px;

}
#joint p{
	text-align: center;
}

#joint nav{
	text-align: center;
}

#program {
	background-color:#E6E6E6;
	text-align: center;
	margin-bottom: 5px;
}
#segmid{
	text-align: center;
	padding: 60px;
	color: white;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Raleway;
	line-height: 72px;
}

#segmid h2{
	font-size: 20px;
}

#floatright{
	float: right;
}

.miniicon{
	float: left;
	display: block;

}

.miniicontext{
	padding-left: 70px;

}

#middlepage {
	position: relative;
	bottom: 620px;
	text-align: center;
	color: #d3d3d3;
	font-size: 20px;
}

#pushdown{
	margin-bottom: 100px;
}

#part1{
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	font-size: 15px;
	
}

#part2{
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 25%;
	bottom: 8.7%;
	font-size: 15px;

}

#part3{
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 52%;
	bottom: 16.9%;
	font-size: 14px;
}

#part4 {
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 77%;
	bottom: 25.9%;
	font-size: 15px;
}

#part5 {
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	font-size: 10px;
	position: relative;
	bottom: 19.9%;
	font-size: 15px;
}

#part6 {
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 25%;
	bottom: 27.2%;
	font-size: 15px;
	
}

#part7 {
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 52%;
	bottom: 34.4%;
	font-size: 15px;

}

#part8 {
	display: block;
	margin-bottom: 10px;
	margin-right: 993px;
	position: relative;
	left: 77%;
	bottom: 42.6%;
	font-size: 15px;
}

aside {
	float: right;
	width: 180px;
	margin-left: 20px;
	height: 100px;
	display: block;
}

main {
	width: 900px;
	margin: 90px;
	background-color: #696969;
	color: white;
	border: 1px solid #000;
	padding: 20px 30px 30px 30px;
}

main h1 p{
	color: white;

}

footer {
	background-color: black;
	color: #00FFFF;
	text-align: center;
	font-size: 28px;

}



