.about {
  padding: 40px;
}

h1 {
  padding: 10px;
}
header {
  margin: 10px;
}


body {
 color: #606161;
 background: #f0efef;
 font-size: 24px;
 font-weight: 200;
 line-height: 1.4;
 font-family: 'Open Sans', Arial, sans-serif;
}


 h2, h3, h4, h5, h6, a, p {
  color: #033048;
}

ul {
  list-style-type: none;
  padding: 10px;

}

a {
  font-size: 24px;
  text-decoration: none;

}

.button {
  display: block;
  width: 280px;
  padding: 12px 0;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.container { 
  margin: auto;
  padding: 10px;
}

header {
  background: #033048;
  color: white;
  margin-bottom: -14px;
}

section {
  margin-bottom: 20px;
}

aside {
  float: right;
  width: 211px;
  margin-left: 20px;
  margin-bottom: 40px;
 
}

section#cta {
  background: #f9e42e;
}

footer {
  padding: 1px;
}

h1.logo {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}



header a {
  font-size: 24px;
  color: #f9e42e;
  display: inline-block;
  padding: 30px;

}

article h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}



article a {
  display: block;
  padding: 20px 0;
  text-align: right;
}


aside h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

aside nav a {
  font-weight: 300;
  display: block;
}

aside p {
  color: #033048;
  line-height: 1.2;
}

section#cta a {
  background: #033048;
  color: white;
  margin-bottom: 20px;
}

footer {
  background: #121212;
  color: white;
  font-weight: 200;
  font-size: 28px;
  text-align: center;

}

footer nav {
  margin-bottom: 50px;
}

footer nav a {
  padding: 20px;
}

footer .logo {
  color: yellow;
  margin-bottom: 50px;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

#part1 {
  margin: 50px;
}

#part2 {
  margin: 66px;
  margin-bottom: 10px;
}

#cta {
height: 88px;
margin-bottom: 0px;
}


#logo {
  color: #ffff66;
}
