

header {
  background: #033048;
  color: white;
  margin-bottom: 50px;
  padding: 15px 0;
}

header a {
  font-size: 24px;
  color: #f9e42e;
  display: inline-block;
  padding: 20px;
}

body {
 color: #606161;
 background: #f0efef;
 font-size: 24px;
 font-weight: 200;
 line-height: 1.4;
 font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  color: #033048;
}

a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

section#main {
  width: 650px;
  margin-bottom: 50px;
}

section#cta {
  background: #f9e42e;
}

aside {
  width: 240px;
  margin-left: 20px;
}


h1.logo {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}



article {
  border-bottom: 2px solid;
}

article h2 {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 20px;
}

article img {
  margin-bottom: 20px;
}

article a {
  display: block;
  padding: 20px 0;
  text-align: right;
}

aside {
  margin-bottom: 50px;
}

aside h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

aside nav a {
  display: block;
}

aside p {
  color: #033048;
  line-height: 1.2;
}

section#cta a {
  background: #033048;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}


footer {
  background: #121212;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 12px;
}

footer nav {
  margin-bottom: 50px;
}

footer nav a {
  padding: 20px;
}

footer .logo {
  color: yellow;
  margin-bottom: 50px;
}

footer p {
  font-size: 16px;
  font-weight: 600;
}

.container { 
  width: 960px;
  margin: auto;
}

.clear {
  clear: both;
}

.top {
  overflow: auto;
}

.list{
  float: right;
}

.topbottom {
  float: left;
}

.button {
  display: block;
  width: 200px;
  padding: 12px 0;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}


