body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: #f0efef;
  color: #000;
}

header {
	background-color: #033048; 
	color: #000;
	margin-bottom: 2px;
	padding: 20px;
	border-bottom: 2px solid black;
	overflow: auto;

}

header a {
	color: yellow;
	padding: 10px;
	float: left;
}

h1 {
	color: #033048;
}

a {
	text-decoration: none;
	color: white;
}

nav a {
	color: white;
}

img {
	margin-top: 0px;
	height: 600px;
	width: auto;
}

u {
	color: yellow;
}

  article {
	background-color: #fff;
	min-height: 365px;
}

article:last-child {
	border: none;
}

article h3, article p, article a {
	width: 95%;
}

article h3 {
	font: 700 25px "Merriweather",serif;
	margin-bottom: 18px;
}

article p {
	font: 400 20px "Source Sans Pro",sans-serif;
	margin-bottom: 18px;
}
main {
	opacity: 1.5;
}

main aside {
	float: right;
	width: 315px;
	height: 400px;
	margin: 3% 2% 0 0;
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid #000;
}

main aside h2 {
	width: 252px;
	font:  700 30px 'Source Sans Pro', sans-serif;
	margin: 14px auto 14px;
}

main aside p {
	font:  400 20px/28px 'Source Sans Pro', sans-serif;
	width: 252px;
	margin: 0 auto 38px auto;
}


aside {
	float: right;
	width: 180px;
	margin-left: 20px;
	height: 100px;
	display: block;
}


footer {
  background: #121212;
  color: white;
  font-weight: 200;
  font-size: 28px;
  padding: 20px;
  text-align: center;
  height: 130px;
  clear: left;
}

footer nav {
  margin-bottom: 50px;
}

footer nav a {
  padding: 20px;
}

#find {
	float: right;
	margin-left: 5cm;
	color: white;
}


#button {
	display: block;
	width: 255px;
	margin: 0 auto;
	height: 54px;
	font:  700 20px/54px 'Oswald', sans-serif;
	background-color: yellow;
	color: #000;
	text-align: center;
	border-radius: 5px;
	text-transform:uppercase;
	box-shadow: 2px 2px 8px 0 #999;
}
#quote {
	background-color: #C6C6C6;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.button-gray {
	display: block;
	width: 195px;
	margin: 0;
	height: 54px;
	font:  700 20px/54px 'Oswald', sans-serif;
	background-color: #C6C6C6;
	color: #000;
	text-align: center;
	border-radius: 5px;
	text-transform:uppercase;
}


#aside-container{
	background-image: url("coworking_sm.png");
	background-color: #fff;
	background-size: cover;
	padding: 0 0 60px 0;
	overflow: auto;
}
	


#logo {
 color: yellow;
 font: 700 30px 'Merriweather', serif;
  margin-bottom: 25px;
}


.article-mid{
	float: left;
	display: inline-block;
	padding: -6px 0 0 24px;
	margin: 16px 0 20px;
	border-right: 1px solid #C6C6C6;
	width: 33%;
}


#footer-container {
	margin-bottom: 30px;
}

@media only screen and (max-width: 700px) and (min-width: 500px){

.container {
  width: 499px;
}
body {
	width: 499px;
}


header {
width: 499px;
}


footer {
	width: 499px;
 
}

















